<html>
    <head>
        <title> Home </title>
    </head>
    <body>
        <body style="background:#FA6BF5">
            <span style="color:#FFFFFF">
                <font face="Corbel">
                    <br>
                    <h1 align="center" > Detección de Cáncer mamario, por delegación. </h1>
                    </br>
                </font>
            </span>
            <font face="Corbel" size="5">
            <p align="center"> Muestra el numero de mujeres que se detectaron con</p> <p align="center">Cáncer de Máma en el año 2015.  </p>
            <p align="center"> La delegación que tubo más mujeres detectadas con Cáncer de Máma. </p>
            </font>
            <b>
                <font face="Corbel" size="4.5">
                <p align="center"><a style="color:#FFFFFF" href="/acercaDe"> Acerca de </p></a>
                <p align="center"><a style="color:#FFFFFF" href="/Datos"> Datos </p></a>
                </font>
            </b>
        </body>
    </body>
</html>